body {
    background-color: #1a1a24;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
}

#card-name {
    font-weight: 600;
}

#card-container {
    perspective: 1800px;
    margin: 4vh 4vw;
    height: 256pt;
    align-items: center;
    display: flex;
    justify-content: center;
}

#card-1-img {
    transition: transform 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    backface-visibility: hidden;
}

#card-2-img {
    transition: transform 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#deck-img {
    transition: transform 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#game-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#last-card-name {
    font-size: 12pt;
}

#card-rules {
    background-color: #2d2d3d;
    padding: 12pt;
    border-radius: 4pt;
    max-width: 480pt;
    text-align: justify;
    font-size: 16pt;
}

.game-flex-element {
    margin: 16pt 16pt;
}

.start-pos {
    transform:
        translateY(-60vh)
        translateZ(256px)
        rotateX(-60deg)
    ;
    opacity: 0;
    z-index: 3;
}

.stack-pos {
    transform:
        translateY(0)
        translateZ(0)
    ;
    opacity: 1;
    z-index: 2;
}

.under-pos {
    transform:
        translateY(0)
        translateZ(-256px)
        rotateX(15deg)
    ;
    animation: fadeOut 500ms linear 1;
    z-index: 1;
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

#version-info {
    font-size: 12pt;
    opacity: 0.3;
}
